.main-bg{
  background-image: url("./download\ m&m.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}


.card {
  max-width: 18rem;
  box-shadow: 0px 0px 3px grey;
  transition: .3s linear;
  background-color: rgba(128, 128, 128, 0.918);
}

.card:hover{
box-shadow: 5px 5px black;
transform: scale(1.02);
}

.lighten {
  color: lightgrey;
}

.logo{
  display: inline;
}

h3{
  color: #ffc24f;
  text-shadow: 0px 0px 6px black;
}

h2{
  position: absolute;
  top: 79px;
  color: #ffc24f;
  text-shadow: 0px 0px 6px black;
}

h4{
  position: absolute;
  top: 79px;
  color: #ffc24f;
  text-shadow: 0px 0px 6px black;
}

.btn{
    background-image: linear-gradient(to bottom, #ffc24f,#e3584b );
    color:black;
}
.login{
  justify-content: flex-end;
}

.loginform{
  justify-content: center
}

 .snackcomments{
  background-color: rgba(128, 128, 128, 0.918);
  width: 40vh;
} 

.snackimg{
  width: 60vh;
}

.container-fluid{
  color: #ffc24f;
  text-shadow: 0px 0px 6px black;
  font-family: 'Acme', sans-serif;
}


